# Generated and merged requirements
langchain>=0.2.12
langchain-community>=0.2.11
langchain-core>=0.2.28
langchain-openai>=0.1.20
pydantic>=2.0.0,<3.0.0
PyGithub==2.3.0
python_dateutil >= 2.8.2
requests>=2.32.3
typing-extensions>=4.12.2
urllib3 >= 1.25.3, < 3.0.0
python-dateutil
types-python-dateutil
numpy
deprecated
